.advantages__item {
  position: relative;
}

.advantages__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.advantages__container {
  padding: 8px 35px 24px;

  text-align: center;
  text-transform: uppercase;

  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    height: 100%;
    min-height: 256px;
    padding: 22px 38px 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
  }
}

.advantages__list {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item--full {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.advantages__item--full:first-child .advantages__container {
  padding-top: 53px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 56px 35px;
  }
}

.advantages__item--full:first-child .advantages__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  height: 37px;

  background-image: url("../img/svg/advantages-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__wrapper--full {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 1fr 2fr;
  }
}

.advantages__item--full:nth-child(2n) .advantages__wrapper--full {
  @media (min-width: $tablet-width) {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__title {
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 0 12px;

    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    max-width: 175px;
    margin: 0 auto 11px;
  }
}

.advantages__item p {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantages___number {
  font-weight: 700;
}

.advantages__container p + p {
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }
}

.advantages__wrapper--full .advantages__container {
  padding: 21px 20px 35px;

  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    padding: 21px 30px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 83px 35px;
  }
}

.advantages__wrapper--full .advantages__title {
  color: #ffffff;
}

.advantages__wrapper--full p {
  color: #ffffff;
}

.advantages__img {
  width: 100%;
  height: 260px;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages__attractions {
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    display: grid;
    padding-bottom: 0;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__attractions-item {
  padding: 13px 15px 0 65px;

  text-transform: uppercase;

  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-height: 256px;
    padding: 138px 33px 60px;

    text-align: center;
  }
}

.advantages__attractions-item .advantages__title {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.advantages__attractions-item--motel {
  background-image: url("../img/svg/icon-house.svg");
  background-position: 18px 25px;
  background-size: 40px 37px;

  @media (min-width: $tablet-width) {
    background-position: center 61px;
    background-size: 75px 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 158px 70px 82px;
  }
}

.advantages__attractions-item--meal {
  padding-left: 70px;

  background-image: url("../img/svg/icon-burger.svg");
  background-position: 18px 25px;
  background-size: 40px 35px;

  @media (min-width: $tablet-width) {
    padding: 138px 50px 10px;

    background-position: center 61px;
    background-size: 75px 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 158px 50px 82px;
  }
}

.advantages__attractions-item--souvenirs {
  padding-left: 62px;

  background-image: url("../img/svg/icon-gift.svg");
  background-position: 22px 21px;
  background-size: 32px 39px;

  @media (min-width: $tablet-width) {
    padding: 138px 30px 10px;

    background-position: center 61px;
    background-size: 64px 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 158px 70px 82px;
  }
}

.advantages__attractions-item--souvenirs br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__item--full:nth-child(2n) .advantages__img {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.advantages__item:not(.advantages__item--full)::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;

  height: 1px;

  background-color: #d6d6d6;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__item:last-child::after {
  display: none;
}
