.advantages__container {
  width: 320px;
  height: 211px;
}

.advantages__title {
  margin-bottom: 49px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__description {
  margin: 0 auto;

  color: $color-white;
}

.advantages__wrapper--full {
  text-align: center;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-default;
}

