.advantages__attractions {
  display: flex;
  flex-direction: column;
}

.advantages__description {
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

.advantages__attractions-item {
  margin-bottom: 22px;
  padding-left: 47px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 40px 40px;
}

.advantages__attractions-item:last-child {
  margin-bottom: 0;
}

.advantages__attractions-item--motel {
  background-image: url("../img/svg/icon-house.svg");
}

.advantages__attractions-item--meal {
  background-image: url("../img/svg/icon-burger.svg");
}

.advantages__attractions-item--souvenirs {
  background-image: url("../img/svg/icon-gift.svg");
}

.advantages__item--grey {
  background-color: #eeeeee;
}

.advantages__number {
  text-align: center;
}

