.button {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 14px;

  font-style: 21px;
  font-weight: 700;
  line-height: 26px;
  font-family: "PT sans", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: $color-default;
  border: none;
}
