.catalog__item {
  position: relative;

  padding: 24px 20px 15px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &:first-child {
    grid-column: 1/-1;
  }
}

.catalog__link {
  display: block;
  height: 280px;

  @media (min-width: $tablet-width) {
    height: 267px;
  }
}

.catalog__item:first-child .catalog__link {
  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.catalog__link img {
  display: block;
  width: 100%;
  height: 100%;
}

.catalog__title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.catalog__author {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: none;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.catalog__button {
  display: grid;
  align-items: baseline;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
  cursor: pointer;

  gap: 14px;
  grid-template-columns: auto auto;

  @media (min-width: $tablet-width) {
    margin-top: 6px;

    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.catalog__button span {
  color: #000000;

  @media (min-width: $desktop-width) {
    color: inherit;
  }
}

.catalog__button svg {
  width: 23px;
  height: 21px;

  fill: currentColor;
}

.catalog__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    justify-content: center;
    min-height: 267px;

    grid-template-columns: repeat(2, 1fr);
  }
}

.catalog__list:first-child {
  grid-column: 1/-1;
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $desktop-width) {
  .catalog__list:first-child {
    grid-column: 1/-1;
  }
}

.catalog__text {
  padding: 15px 0 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;

    color: #ffffff;

    background-color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.3);
  }
}
