.footer {
  padding: 39px 20px 22px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 60px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 120px 34px;
  }
}

.footer--page {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }
}

.footer--page .social {
  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }
}

.footer--form {
  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
  }
}

.footer--main {
  @media (min-width: $desktop-width) {
    padding-top: 39px;
  }
}

.footer--main .footer__copyright-text {
  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }
}

.footer__hashtag {
  display: inline-block;
  margin-bottom: 34px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #81b3d2;

    outline: none;
  }

  &:active {
    color: #b3b3b3;
  }
}

.footer__copyright svg {
  width: 27px;
  height: 34px;

  fill: currentColor;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.footer__copyright-text {
  margin-right: 15px;
}
