.footer {
  padding: 39px 20px 22px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 37px 60px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 39px 120px 34px;
  }
}

.footer--page {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 56px;
  }
}

.footer--form {
  @media (min-width: $tablet-width) {
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
  }
}

.footer__hashtag {
  display: inline-block;
  margin-bottom: 34px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer--form .footer__hashtag {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }
}

.footer--main .footer__hashtag {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
  }
}

.footer__copyright {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #81b3d2;

    outline: none;
  }

  &:active {
    color: #b3b3b3;
  }
}

.footer--form .footer__copyright {
  margin-bottom: 5px;
}

.footer__copyright svg {
  width: 27px;
  height: 34px;

  fill: currentColor;
}

.footer__copyright-text {
  margin-right: 15px;
}

.footer--main .footer__copyright-text {
  @media (min-width: $tablet-width) {
    margin-right: 12px;
  }
}

.footer--page .footer__hashtag {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
  }
}

.footer--page .footer__copyright {
  margin-top: -3px;
}
