.footer__hashtag {
  padding: 28.5px 78px 33.5px 76px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;
}

