.form {
  @media (min-width: $tablet-width) {
    padding: 24px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 120px;
  }
}

.form__wrapper-fieldset {
  @media (min-width: $tablet-width) {
    position: relative;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 41px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 18px;
      bottom: 0;
      left: 50%;

      width: 1px;

      background-color: #dbdbdb;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      left: 51.4%;
    }
  }
}

.form__wrapper-fieldset .form__fieldset-title {
  @media (min-width:$desktop-width) {
    padding-left: 12px;
  }
}

.form__wrapper-fieldset .form__fieldset {
  @media (min-width:$tablet-width) {
    padding-top: 20px;
  }
}

.form__fieldset {
  position: relative;

  margin: 0;
  padding: 24px 20px 21px;

  border: none;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width:$tablet-width) {
    padding: 43px 0 0;

    border: none;
  }

  @media (min-width:$tablet-width) {
    padding-top: 11px;
  }
}

.form__fieldset--data .form__contact-list {
  @media (min-width: $tablet-width) {
    padding-right: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
  }
}

.form__fieldset--contact {
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.form__fieldset--contact .form__contact-list {
  @media (min-width: $tablet-width) {
    padding-left: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 77px;
  }
}

.form__contact-item {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.form__fieldset-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;

    font-size: 21px;
  }
}

.form__options {
  @media (min-width: $tablet-width) {
    display: grid;
    padding: 0 36px;

    gap: 16px 15px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 54px;

    gap: 16px 62px;
    grid-template-columns: repeat(3, auto);
  }

}

.form__fieldset--attractions .form__options {
  @media (min-width: $tablet-width) {
    padding: 0 84px;

    gap: 16px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 45px;

    gap: 16px 62px;
    grid-template-columns: repeat(4, auto);
  }
}

.form__options-item {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__options-label {
  position: relative;

  display: block;
  min-height: 46px;
  padding: 10px 0 10px 62px;
}

.form__options-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 46px;
  height: 46px;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.form__options-label--radio::before {
  border-radius: 50%;
}

.form__options-label--radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;

  display: none;
  width: 16px;
  height: 16px;

  background-color: #333333;
  border-radius: 50%;
  transform: translateY(-50%);
}

.form__options-input:checked ~ .form__options-label--radio::after {
  display: block;
}

.form__options-input:checked ~ .form__options-label--check::before {
  background-image: url("../img/svg/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__options-label:hover::before {
  background-color: #e5e5e5;
}

.form__options-label:active::before {
  background-color: #d5d5d5;
}

.form__options-label--radio:active::after {
  background-color: rgba(51, 51, 51, 0.3);
}

.form__options-input:disabled ~ .form__options-label::before {
  opacity: 0.6;
}

.form__options-input:disabled ~ .form__options-label::after {
  opacity: 0.6;
}

.form__contact-label {
  margin-left: 15px;

  text-align: left;
  text-transform: uppercase;
}

.form__contact-input {
  width: 100%;
  height: 58px;
  padding: 0 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  color: #000000;

  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: right -4px center;
  background-size: 58px 58px;
  border: 4px solid transparent;
}

.form__contact-input--phone {
  background-image: url("../img/svg/phone.svg");
}

.form__contact-input--mail {
  background-image: url("../img/svg/mail.svg");
}

.form__fieldset--contact .form__contact-input {
  padding-right: 58px;
}

.form__fieldset--data {
  border-right: #dbdbdb;
}

.form__feedback {
  width: 100%;
  height: 150px;
  padding: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;

  resize: none;

  // @media (min-width: $desktop-width) {
  //   max-width: 768px;
  //   margin-right: auto;
  //   margin-left: auto;
  // }
}

.form__note {
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
}

.form__fieldset-title--lines {
  @media (min-width: $tablet-width) {
    overflow: hidden;
  }
}

.form__fieldset-title--lines span {
  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 400px;
    padding: 0 60px;

    vertical-align: middle;
  }
}

.form__fieldset-title--lines::before,
.form__fieldset-title--lines::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: relative;

    display: inline-block;
    width: 100%;
    height: 1px;

    vertical-align: middle;

    background-color: #dbdbdb;
  }
}

.form__fieldset-title--lines::before {
  @media (min-width: $tablet-width) {
    margin-left: -100%;
  }
}

.form__fieldset-title--lines::after {
  @media (min-width: $tablet-width) {
    margin-right: -100%;
  }
}

.form__fieldset--feedback {
  padding-bottom: 24px;
}

.form__fieldset--attractions {
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 42px;
  }
}

.form__fieldset .button {
  max-width: 281px;

  @media (min-width: $tablet-width) {
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    max-width: 324px;
    margin-top: 43px;
  }
}
