.form__fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form__fieldset-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.form__contact-label {
  margin-left: 16px;

  text-align: left;
  text-transform: uppercase;
}

.form__contact-input {
  width: 100%;
  height: 58px;
  padding-left: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  color: #000000;

  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center right -4px;
  border: 4px solid transparent;
}

.form__feedback {
  width: 100%;
  height: 150px;
  margin-bottom: 56px;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #f2f2f2;
  border: 4px solid transparent;

  resize: none;
}

.form__note {
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;
}

