.main-navigation__list {
  background-color: $color-default;
}

.main-navigation__link {
  align-items: center;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
