.map iframe {
  display: block;
  width: 100%;
  height: 350px;

  border: none;
}

.map__image {
  display: none;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.map__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.no-js iframe {
  display: none;
}

.no-js .map__image {
  display: block;
}
