.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.modal_wrapper {
  width: 100%;
}

.modal_content {
  width: 320px;
}

.modal_button-wrapper {
  padding: 20px;
  background-color: #f2f2f2;
}

.modal_button {
  &--failure {
    width: 180px;
  }
}
