.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  display: none;
  flex-direction: column;
  align-items: flex-start;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal--open {
  display: flex;
}

.modal__container {
  display: none;
  flex-direction: column;
  width: 320px;
  margin: auto;

  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.modal--open-success .modal__container-success {
  display: flex;
  min-height: 323px;

  @media (min-width: $tablet-width) {
    min-height: 347px;
  }
}

.modal--open-error .modal__container-error {
  display: flex;
  min-height: 280px;

  @media (min-width: $tablet-width) {
    width: 400px;
    min-height: 347px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    min-height: 347px;
  }
}

.modal__wrapper-text {
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
}

.modal__container-error .modal__wrapper-text {
  padding: 45px 42px 7px 41px;

  @media (min-width: $tablet-width) {
    padding: 50px 47px 0 46px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 47px 1px 46px;
  }
}

.modal__container-success .modal__wrapper-text {
  padding: 39px 39px 50px 37px;

  @media (min-width: $tablet-width) {
    padding: 53px 99px 51px 97px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
    padding-bottom: 51px;
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;

    font-size: 30px;
  }
}

.modal__title-error {
  font-size: 30px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;

    font-size: 30px;
    line-height: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;

    font-size: 30px;
    line-height: 40px;
  }
}

.modal__title .modal__container-success {
  font-size: 21px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 26;
  }
}

.modal__text {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.modal__text-error {
  font-size: 14px;
  line-height: 23px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal__text-success {
  line-height: 22px;

  @media (min-width: $tablet-width) {
    width: 444px;

    font-size: 13px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}

.modal__wrapper-btn {
  padding: 20px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 44px;
  }
}

.modal__container-error .modal__wrapper-btn {
  padding-bottom: 35px;

  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding-bottom: 49px;
  }
}

.modal__button {
  width: 280px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    width: 458px;

    font-size: 21px;
  }
}

.modal__container-error .modal__button {
  width: 180px;

  @media (min-width: $tablet-width) {
    width: 272px;

    font-size: 21px;
  }
}

.modal__container-success .modal__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
