.modal {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal--open {
  display: flex;
}

.modal__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: auto;

  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  @media (min-width: $tablet-width) {
    width: 640px;
  }
}

.modal--open-success .modal__container-success {
  display: flex;
  min-height: 323px;

  @media (min-width: $tablet-width) {
    min-height: 347px;
  }
}

.modal--open-error .modal__container-error {
  display: flex;
  min-height: 280px;

  @media (min-width: $tablet-width) {
    width: 400px;
    min-height: 347px;
  }
}

.modal__wrapper-text {
  padding: 25px 42px 51px;

  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
}

.modal__container-error .modal__wrapper-text {
  padding: 45px 42px 28px 41px;

  @media (min-width: $tablet-width) {
    padding: 50px 47px 25px 46px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 47px 23px 46px;
  }
}

.modal__container-success .modal__wrapper-text {
  padding: 39px 39px 50px 37px;

  @media (min-width: $tablet-width) {
    padding: 53px 99px 74px 97px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
    padding-bottom: 72px;
  }
}

.modal__title {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;

    font-size: 30px;
  }
}

.modal__title .modal__container-error {
  font-size: 21px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 40;
  }
}

.modal__title .modal__container-success {
  font-size: 21px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 26;
  }
}

// .modal--open-error .modal__title {
//   @media (min-width: $tablet-width) {
//     margin-bottom: 23px;

//     line-height: 40px;
//   }
// }

.modal__text {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.modal__text .modal__container-error {
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.modal__wrapper-btn {
  padding: 20px;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 44px;
  }
}

.modal__container-error .modal__wrapper-btn {
  padding-bottom: 35px;

  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding-bottom: 49px;
  }
}

.modal__button {
  width: 280px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    width: 458px;

    font-size: 21px;
  }
}

.modal__container-error .modal__button {
  width: 180px;

  @media (min-width: $tablet-width) {
    width: 272px;

    font-size: 21px;
  }
}

.modal__container-success .modal__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
