.photo-catalog__title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.photo-catalog__author {
  text-transform: none;
}

.photo-catalog__item {
  padding: 24px 20px 15px;
}

