.promo {
  background-color: #ffffff;
}

.promo__image {
  padding-top: 30px;
  padding-bottom: 30px;

  background-image: url("../img/banner-cover-mobile.jpg");
  background-repeat: no-repeat;
  // background-position: center top;
  background-size: cover;
}

.promo__image img {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;
}

.promo__title {
  font-size: 18px;
  line-height: 26px;
}
