.search {
  padding: 23px 18px 49px;

  font-weight: 700;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
  }
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;

    font-size: 30px;
  }
}

.search__description {
  padding-top: 2px;
  padding-bottom: 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 32px;
  }
}

.search__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.search__button {
  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}
