.search {
  padding: 38px 18px 49px;

  font-weight: 700;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  color: $color-black;
}

.search__description {
  padding-bottom: 32px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.search__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.search__button {
  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
