.social {
  display: flex;
  justify-content: center;
  max-width: 300px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  color: #ffffff;

  background-color: $color-default;

  &:hover,
  &:focus {
    background-color: #669ec0;
    outline: none;
  }

  &:active {
    background-color: #5496bd;
  }
}
