.social {
  display: flex;
  justify-content: center;
  max-width: 300px;
}

.social__link {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 6px;

  background-color: $color-default;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

.social__link:last-child {
  margin-right: 0;
}

.social__link--vkontakte {
  background-image: url("../img/svg/icon-vk.svg");
}

.social__link--telegram {
  background-image: url("../img/svg/icon-telegram.svg");
}

.social__link--youtube {
  background-image: url("../img/svg/icon-youtube.svg");
}

