.video {
  padding: 18px 20px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 58px 60px 20px;
  }
}

.video__image {
  position: relative;

  @media (min-width: $desktop-width) {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
  }
}

.video__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  width: 48px;
  height: 54px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/svg/icon-play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  transform: translate(-50%, -50%);

  @media (min-width: $desktop-width) {
    top: 46%;
  }
}

.video__clip {
  display: none;
}

.video__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 6px;

    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
  }
}

.video__description {
  margin-top: 27px;
  margin-bottom: 38px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    max-width: 470px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 48px;
  }
}
