$font-family: "PT Sans", "Arial", sans-serif;
// Colors
$color-default: #81b3d2;
$color-current: #766357;
$color-white: #ffffff;
$color-black: #000000;
// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$retina: 2dppx;
